<div>
    <div class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Welcome to our car rental service</h1>
            <p class="hero-description">We provide the best car rental service in town. Choose from a variety of cars and book your car now!</p>
            <button class="hero-button">Book now</button>
        </div>
        <div class="hero-image">
            <img src="https://media.istockphoto.com/id/2169133853/photo/photo-of-young-brutal-taxi-driver-man-wear-green-t-shirt-hold-steering-wheel-fast-speed-good.webp?a=1&b=1&s=612x612&w=0&k=20&c=NPiz6tiXPYdkhz2Cv2h1mEYgKOZxlTxgXlWw4YU7HF4=" alt="logo">
        </div>
    </div>
</div>
