// src/theme-variables.scss
// Light theme
$light-bg: #f3f3f3;
$light-text: #212529;
$light-primary: #10f3c2;
$light-secondary: #00daf7;
$light-accent: #e9e9e9;
$light-heading: #161515;
$light-surface: #ffffff;

// Dark theme
$dark-bg: #121212;
$dark-text: #f1f1f1;
$dark-primary: #03dac6;
$dark-secondary: #b4fff7;
$dark-accent: #130e0e;
$dark-heading: #ececec;
$dark-surface: #242020;
